<div class="posts">
    {{#each posts}}
    <article class="card">
        <div class="card-header">
            <h2>
                <a href="/post/{{id}}">{{title}}</a>
            </h2>
            <div>
              Posted by {{this.User.username}} on {{format_date this.createdAt}}  
            </div>
        </div>
        <div class="card-body">
            {{body}}
        </div>
    </article>
    {{/each}}
</div>